.DS_Store
.nvm
.c9
.vscode
.idea

# compiler
/bibliograph/*-output/
db.json
resource-db.json
node_modules/

*.zip
src/server/config/app.conf.toml

# package-lock.json is platform-specific 
package-lock.json
src/server/nohup.out

