.DS_Store
.nvm
.c9
.vscode

# compiler
/bibliograph/*-output/
db.json
resource-db.json
node_modules/

*.zip
src/server/config/bibliograph.ini.php

# package-lock.json is platform-specific 
package-lock.json