<?xml version="1.0" standalone="yes"?>
<root>
  <model name="config_Config">
    <data>
      <record namedId="global">
        <type>0</type>
        <default>global</default>
        <customize>0</customize>
      </record>
      <record namedId="custom">
        <type>0</type>
        <default>custom</default>
        <customize>1</customize>
      </record>
      <record namedId="number">
        <type>1</type>
        <default>1</default>
        <customize>1</customize>
      </record>
      <record namedId="list">
        <type>3</type>
        <default>foo,bar,baz</default>
        <customize>1</customize>
      </record>
    </data>
    <links>
      <relation name="Config_UserConfig">
        <link namedId="custom">1,2,3,4</link>
      </relation>
    </links>
  </model>
</root>